{% extends 'index.html' %}

{% block content %}

<div class="container mt-5">

    <h2 class="text-center mb-4">Photo Frame Collection</h2>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <h3 class="text-white">Frames</h3>
            <a href="{% url 'index' %}" class="btn btn-light">Back</a>
        </div>
    </nav>
    <div class="row">

        <!-- Frame 1 -->
        <div class="col-md-4 mb-4">
            <div class="card">

                <img src="https://img.freepik.com/free-photo/wood-frame-mockup_53876-114551.jpg" class="card-img-top">

                <div class="card-body text-center">

                    <h5>Wooden Frame</h5>

                    <p>Beautiful wooden frame for classic memories.</p>

                    <p><b>Sizes:</b> 8x10 , 10x12 , 12x16</p>

                    <a href="{% url 'order' %}" class="btn btn-primary">Buy Now</a>

                </div>
            </div>
        </div>


        <!-- Frame 2 -->
        <div class="col-md-4 mb-4">
            <div class="card">

                <img src="https://img.freepik.com/free-photo/black-frame-mockup_53876-89860.jpg" class="card-img-top">

                <div class="card-body text-center">

                    <h5>Black Frame</h5>

                    <p>Elegant black frame for modern style photos.</p>

                    <p><b>Sizes:</b> 8x10 , 10x12 , 12x16</p>

                    <a href="{% url 'order' %}" class="btn btn-primary">Buy Now</a>

                </div>
            </div>
        </div>


        <!-- Frame 3 -->
        <div class="col-md-4 mb-4">
            <div class="card">

                <img src="https://img.freepik.com/free-photo/silver-frame-mockup_53876-116055.jpg" class="card-img-top">

                <div class="card-body text-center">

                    <h5>Silver Frame</h5>

                    <p>Premium silver frame perfect for special moments.</p>

                    <p><b>Sizes:</b> 8x10 , 10x12 , 12x16</p>

                    <a href="{% url 'order' %}" class="btn btn-primary">Buy Now</a>

                </div>
            </div>
        </div>


        <!-- Frame 4 -->
        <div class="col-md-4 mb-4">
            <div class="card">

                <img src="https://img.freepik.com/free-photo/photo-frame-mockup_23-2148924744.jpg" class="card-img-top">

                <div class="card-body text-center">

                    <h5>Family Frame</h5>

                    <p>Perfect frame to keep family bonding memories.</p>

                    <p><b>Sizes:</b> 10x12 , 12x16</p>

                    <a href="{% url 'order' %}" class="btn btn-primary">Buy Now</a>

                </div>
            </div>
        </div>


        <!-- Frame 5 -->
        <div class="col-md-4 mb-4">
            <div class="card">

                <img src="https://img.freepik.com/free-photo/frame-mockup_53876-89858.jpg" class="card-img-top">

                <div class="card-body text-center">

                    <h5>Friends Frame</h5>

                    <p>Capture your best friends forever moments.</p>

                    <p><b>Sizes:</b> 8x10 , 10x12</p>

                    <a href="{% url 'order' %}" class="btn btn-primary">Buy Now</a>

                </div>
            </div>
        </div>


        <!-- Frame 6 -->
        <div class="col-md-4 mb-4">
            <div class="card">

                <img src="https://img.freepik.com/free-photo/frame-mockup-wall_53876-133137.jpg" class="card-img-top">

                <div class="card-body text-center">

                    <h5>Couple Frame</h5>

                    <p>Romantic frame for couple memories.</p>

                    <p><b>Sizes:</b> 10x12 , 12x18</p>

                    <a href="{% url 'order' %}" class="btn btn-primary">Buy Now</a>

                </div>
            </div>
        </div>


        <!-- Frame 7 -->
        <div class="col-md-4 mb-4">
            <div class="card">

                <img src="https://img.freepik.com/free-photo/blank-picture-frame_53876-91662.jpg" class="card-img-top">

                <div class="card-body text-center">

                    <h5>Sister Frame</h5>

                    <p>Celebrate the love between sisters.</p>

                    <p><b>Sizes:</b> 8x10 , 10x12</p>

                    <a href="{% url 'order' %}" class="btn btn-primary">Buy Now</a>

                </div>
            </div>
        </div>


        <!-- Frame 8 -->
        <div class="col-md-4 mb-4">
            <div class="card">

                <img src="https://img.freepik.com/free-photo/empty-photo-frame_53876-91661.jpg" class="card-img-top">

                <div class="card-body text-center">

                    <h5>Brother Frame</h5>

                    <p>Special frame for brother bonding memories.</p>

                    <p><b>Sizes:</b> 8x10 , 10x12</p>

                    <a href="{% url 'order' %}" class="btn btn-primary">Buy Now</a>

                </div>
            </div>
        </div>


        <!-- Frame 9 -->
        <div class="col-md-4 mb-4">
            <div class="card">

                <img src="https://img.freepik.com/free-photo/picture-frame-mockup-wall_53876-141158.jpg"
                    class="card-img-top">

                <div class="card-body text-center">

                    <h5>Mosaic Frame</h5>

                    <p>Creative mosaic collage style frame.</p>

                    <p><b>Sizes:</b> 12x16 , 16x20</p>

                    <a href="{% url 'order' %}" class="btn btn-primary">Buy Now</a>

                </div>
            </div>
        </div>


        <!-- Frame 10 -->
        <div class="col-md-4 mb-4">
            <div class="card">

                <img src="https://img.freepik.com/free-photo/blank-frame-wall_53876-88984.jpg" class="card-img-top">

                <div class="card-body text-center">

                    <h5>Vintage Frame</h5>

                    <p>Classic vintage frame for timeless memories.</p>

                    <p><b>Sizes:</b> 10x12 , 12x16</p>

                    <a href="{% url 'order' %}" class="btn btn-primary">Buy Now</a>

                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}