{% extends 'index.html' %}

{% block content %}

<div class="container mt-5">

    <h2 class="text-center mb-4">Photo Mug Collection</h2>

    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <h3 class="text-white">Mugs</h3>
            <a href="{% url 'index' %}" class="btn btn-light">Back</a>
        </div>
    </nav>
    <div class="row">

        <!-- Mug 1 -->
        <div class="col-md-4 mb-4">
            <div class="card">

                <img src="https://img.freepik.com/free-photo/white-mug-mockup_53876-65929.jpg" class="card-img-top">

                <div class="card-body text-center">

                    <h5>Classic Photo Mug</h5>

                    <p>Customize mug with your favorite photo.</p>

                    <p><b>Capacity:</b> 350ml</p>

                    <a href="{% url 'order' %}" class="btn btn-primary">Buy Now</a>

                </div>
            </div>
        </div>

        <!-- Mug 2 -->
        <div class="col-md-4 mb-4">
            <div class="card">

                <img src="https://img.freepik.com/free-photo/black-mug-mockup_53876-65932.jpg" class="card-img-top">

                <div class="card-body text-center">

                    <h5>Black Magic Mug</h5>

                    <p>Heat sensitive mug that reveals photo.</p>

                    <p><b>Capacity:</b> 350ml</p>

                    <a href="{% url 'order' %}" class="btn btn-primary">Buy Now</a>

                </div>
            </div>
        </div>

        <!-- Mug 3 -->
        <div class="col-md-4 mb-4">
            <div class="card">

                <img src="https://img.freepik.com/free-photo/coffee-mug-mockup_53876-65930.jpg" class="card-img-top">

                <div class="card-body text-center">

                    <h5>Couple Mug</h5>

                    <p>Perfect romantic mug for couples.</p>

                    <p><b>Capacity:</b> 350ml</p>

                    <a href="{% url 'order' %}" class="btn btn-primary">Buy Now</a>

                </div>
            </div>
        </div>

        <!-- Mug 4 -->
        <div class="col-md-4 mb-4">
            <div class="card">

                <img src="https://img.freepik.com/free-photo/mug-mockup_53876-65933.jpg" class="card-img-top">

                <div class="card-body text-center">

                    <h5>Birthday Mug</h5>

                    <p>Special birthday memory mug.</p>

                    <p><b>Capacity:</b> 350ml</p>

                    <a href="{% url 'order' %}" class="btn btn-primary">Buy Now</a>

                </div>
            </div>
        </div>

        <!-- Mug 5 -->
        <div class="col-md-4 mb-4">
            <div class="card">

                <img src="https://img.freepik.com/free-photo/ceramic-mug-mockup_53876-65931.jpg" class="card-img-top">

                <div class="card-body text-center">

                    <h5>Friendship Mug</h5>

                    <p>Gift a mug to your best friend.</p>

                    <p><b>Capacity:</b> 350ml</p>

                    <a href="{% url 'order' %}" class="btn btn-primary">Buy Now</a>

                </div>
            </div>
        </div>

        <!-- Mug 6 -->
        <div class="col-md-4 mb-4">
            <div class="card">

                <img src="https://img.freepik.com/free-photo/coffee-cup-mockup_53876-65934.jpg" class="card-img-top">

                <div class="card-body text-center">

                    <h5>Love Mug</h5>

                    <p>Perfect gift for your loved one.</p>

                    <p><b>Capacity:</b> 350ml</p>

                    <a href="{% url 'order' %}" class="btn btn-primary">Buy Now</a>

                </div>
            </div>
        </div>

        <!-- Mug 7 -->
        <div class="col-md-4 mb-4">
            <div class="card">

                <img src="https://img.freepik.com/free-photo/mug-mockup-design_53876-65935.jpg" class="card-img-top">

                <div class="card-body text-center">

                    <h5>Office Mug</h5>

                    <p>Perfect mug for office desk.</p>

                    <p><b>Capacity:</b> 350ml</p>

                    <a href="{% url 'order' %}" class="btn btn-primary">Buy Now</a>

                </div>
            </div>
        </div>

        <!-- Mug 8 -->
        <div class="col-md-4 mb-4">
            <div class="card">

                <img src="https://img.freepik.com/free-photo/tea-cup-mockup_53876-65936.jpg" class="card-img-top">

                <div class="card-body text-center">

                    <h5>Tea Mug</h5>

                    <p>Enjoy tea with personalized mug.</p>

                    <p><b>Capacity:</b> 350ml</p>

                    <a href="{% url 'order' %}" class="btn btn-primary">Buy Now</a>

                </div>
            </div>
        </div>

        <!-- Mug 9 -->
        <div class="col-md-4 mb-4">
            <div class="card">

                <img src="https://img.freepik.com/free-photo/custom-photo-mug_53876-65937.jpg" class="card-img-top">

                <div class="card-body text-center">

                    <h5>Custom Name Mug</h5>

                    <p>Add your name and photo to mug.</p>

                    <p><b>Capacity:</b> 350ml</p>

                    <a href="{% url 'order' %}" class="btn btn-primary">Buy Now</a>

                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}